*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,main{
    width: 100%;
    height: 100%;
}
main{
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.6fr 0.4fr;
    grid-gap: 5px;
    grid-template-areas: "a1 a2 a2 a2"
                        "a1 a3 a4 a5"  ;
}
.i1,.i2,.i3,.i4,.i5{
    background-position: center;
    /* object-fit: contain; */
    background-size: cover;
    background-repeat: no-repeat;
}
.i1{
    grid-area: a1;
    background-image: url("https://images.unsplash.com/photo-1771255095851-1318308bf2ec?q=80&w=634&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.i2{
    grid-area: a2;
    background-image: url('https://plus.unsplash.com/premium_photo-1749596772550-12722ea4b744?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.i3{
    grid-area: a3;
    background-image: url('https://images.unsplash.com/photo-1771199918875-58c95dbee206?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.i4{
    grid-area: a4;
    background-image: url('https://media.istockphoto.com/id/1365603423/photo/studio-shot-of-a-beautiful-young-woman-sitting-on-a-chair-against-a-grey-background.jpg?s=1024x1024&w=is&k=20&c=i3I8YG9o5mS6RMVNAAT9VMoBWmmn5ra_x74ITq_U7dw=');
}
.i5{
    grid-area: a5;
    background-image: url('https://images.unsplash.com/photo-1648760694109-3e1420b65d22?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDY0fHx8ZW58MHx8fHx8');
}

