*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    /* background-color: rgba(95, 90, 89, 0.351); */
    
}
#main{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    padding: 0px 60px; 
    /* justify-content: space-between; */
    padding-top: 150px;
    align-items: center;
}
#left{
    height: 100%;
    width: 48%;
    /* background-color: rgba(95, 90, 89, 0.351); */
    /* justify-content: space-around; */
    display: flex;
    flex-direction: column;
}
#left h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    font-size: 8vw;
    font-weight: 500;
    line-height: 8vw;
    margin-bottom: 18vh;
}
#bottom-left{
    /* background-color: rgba(178, 156, 177, 0.747); */
    height: 40%;
    width: 100%;
}
#color{
    border: 2px solid rgba(0, 0, 6, 0.553);
    border-radius: 25px;
    width:fit-content;
    padding:8px 10px;
    display: flex;
    align-items: center;
    /* width: 140px;               /* Set a fixed width */
    /* height: 50px;               /* Set a fixed height */
    /* border-radius: 25px;  */ 
    justify-content: center;
    
    
}
#color h5{
    font-size: 2vw;
    /* background-colo; */
    margin-right: 1vw;
    font-weight: 600;
    
}
#color1{
    background-color: #1f34d1c1; 
    height: 1.6vw;
    width:1.6vw;
    border-radius:50% ;
    margin-right: 2px;
}
#color2{
    background-color: #a22f2f;
    height: 1.6vw;
    width:1.6vw;
    border-radius:50% ;
}
#details h2{
    margin-top: 35px;
    font-size: 2.5vw;
    margin-bottom: 10px;
}
#details p{
    font-size: 1.5vw;
    width: 70%;
    line-height: 1.7vw;
}
#right{
    height: 100%;
    width: 40%;
    /* background-color: rgba(9, 9, 89, 0.351); */
    position: relative;
    margin-left:5%;
}
#right-top{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: tan; */
}
#right-top h4
{
    font-family: cursive;
    padding-left:5px ;
    /* background-color: #a22f2f; */
    font-size: 1.5vw;
}
#right-top h5{
    font-size: 1.5vw;
}
#right-top h5 i{
    color: gold;
}
#right img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#black-c{
    position: absolute;
    color:white;
    background-color: rgba(31, 39, 78, 0.881);
    height:12vw;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: -15%;
    top:35%;
}
#black-c a{
    color: white;
    font-size: 1.7vw;
    font-weight: 700;
    text-decoration: none;
    /* background-color: #a22f2f; */
}
.pro{
    position: absolute;
    left:0
    ;bottom: 0;
    rotate: -90deg;
    transform-origin: left;
    left: -5%;
    font-size: 3vw;
}
#black-c a:hover{
    color: black;
    background-color: darkolivegreen;



}
@media (max-width:600px) {
    #main{
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        padding:40px; 
        justify-content: space-between;
        flex-direction: column;
        padding-top: 40px;
        align-items: flex-start;
    }   
    #left{
        height: fit-content;
        width: 100%;
        /* background-color: rgba(95, 90, 89, 0.351); */
        /* justify-content: space-around; */
        display: flex;
        flex-direction: column;
        /* overflow: auto; */
        align-items: center;
        justify-content: center;
    }
    #left h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #000;
        font-size: 18vw;
        font-weight: 500;
        line-height: 17vw;
        margin-bottom: 3vh;
        margin-left: 30px;
        
    }
    #bottom-left{
        /* background-color: rgba(178, 156, 177, 0.747); */
        height: 40%;
        width: 100%;
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    #color{
        border: 2px solid rgba(0, 0, 6, 0.553);
        border-radius: 25px;
        width:fit-content;
        padding:8px 10px;
        display: flex;
        align-items: center;
        width: fit-content;            
        height: fit-content;            
        /* border-radius: 25px;   */
        justify-content: center;
        
        
    }
    #color h5{
        font-size: 4vw;
        /* background-colo; */
        margin-right: 3vw;
        font-weight: 550;     
    }
    #color1{
        background-color: #1f34d1c1; 
        height: 3vw;
        width:3vw;
        border-radius:50% ;
        margin-right: 2px;
    }
    #color2{
        background-color: #a22f2f;
        height: 3vw;
        width:3vw;
        border-radius:50% ;
    }
    #details h2{
        margin-top: 3vh;
        font-size: 4vw;
        margin-bottom: 3vw;
        font-weight: 100;
    }
    #details p{
        font-size: 2vw;
        width: 70%;
        line-height: 2.5vw;
    }
    #right{
        height:50%;
        width:100%;
        /* background-color: rgba(9, 9, 89, 0.351); */
        position: relative;
        /* margin-left:5%; */
        display: flex;
        flex-direction: column-reverse;
    }
    #right-top{
        height: 9vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: tan; */
    }
    #right-top h4
    {
        font-family: cursive;
        /* padding-left:5px ; */
        /* background-color: #a22f2f; */
        font-size: 20px;
    }
    #right-top h5{
        font-size: 20px;
        /* background-color: #a22f2f; */
    }
    #right-top h5 i{
        color: gold;
    }
    #right img{
        width:100%;
        height: 70%;
        object-fit: cover;
    }
    #black-c{
        position: absolute;
        color:white;
        /* background-color: rgba(31, 39, 78, 0.881); */
        height:9vw;
        width: 12vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        /* right: -3%; */
        left:12%;
        top:-12%;
    }
    #black-c a{
        color: white;
        font-size: 1.7vw;
        font-weight: 700;
        text-decoration: none;
        /* background-color: #a22f2f; */
    }
    .pro{
        position: absolute;
        left:0;
        bottom: 71vw;
        /* background-color: aqua; */
        rotate:3600deg;
        /* transform-origin: left; */
        /* left: -5%; */
        font-size: 5vw;
    }
    #black-c a:hover{
        color: black;
        background-color: darkolivegreen;
    }
    
}