* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: clamp(14px, 1.5vw, 18px);
}

body {
  background-color: #000000;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  align-items: center;
  @include flex-column();

  section.view1 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
        object-fit: cover;
      }
    }

    .bottom {
      background-color: #616060;
      padding: 1.5rem;
      @include flex-column(3rem);
      border-radius: 0.7rem;

      .text {
        @include flex-column(0.7rem);
        h1 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2.5rem;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
  section.view2 {
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      display: flex;

      justify-content: space-around;
      width: 100%;

      .element {
        text-align: center;
        @include flex-column(0.2rem);
        small {
          opacity: 0.6;
        }
        h2 {
          font-size: 3rem;
          font-weight: 200;
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.7rem;
        object-fit: cover;
      }
    }
    .bottom {
      background-color: #616060;
      padding: 1.5rem;
      @include flex-column(3rem);
      border-radius: 0.7rem;
      & > p {
        text-transform: uppercase;
      }

      .text {
        @include flex-column(0.7rem);

        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.5rem;
      }
      .paragraphs {
        column-count: 1;
        font-weight: 100;
        font-size: 1.5rem;
        opacity: 0.6;
        line-height: 1.5;
      }
    }
  }
  section.view4 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);
    .top {
      img {
        width: 100%;
        border-radius: 0.7rem;
        object-fit: cover;
      }
    }
    .bottom {
      padding: 1.5rem;
      background-color: #616060;
      border-radius: 0.7rem;
      @include flex-column(3rem);
      & > p {
        text-transform: uppercase;
      }
      .text p:first-child {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 3rem;
      }
      .text p:last-child {
        column-count: 1;
        font-weight: 100;
        font-size: 1.5rem;
        opacity: 0.6;
        line-height: 1.5;
      }
    }
  }

  section.view5 {
    width: 100%;
    padding: 1rem;
    border-radius: 0.7rem;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      // padding: 1rem 2rem;
      p {
        font-size: 2.5rem;
      }
      a {
        text-decoration: none;
        color: white;

        i {
          margin-right: 0.4rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0.15rem;
          font-size: 1.5rem;
          border-radius: 50%;
          background-color: rgba(97, 96, 96, 0.3); /* Low opacity background */
          border: 1px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          &:hover {
            background-color: rgba(255, 102, 0, 0.364);
          }
        }
      }
    }
    .bottom {
      .card {
        @include flex-column(0rem);
        justify-content: space-between;
        aspect-ratio: 1/1;
        margin-top: 0.3rem;
        padding: 1.3rem;
        border-radius: 0.7rem;
        background-image: url("https://images.unsplash.com/photo-1623517006691-00db997b4c58?q=80&w=897&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center;
        background-size: cover;
        .card-top {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          gap: 1.2rem;
          i {
            background-color: rgba(187, 187, 187, 0.375);
            backdrop-filter: blur(5px);
            padding: 0.3rem;
            border: 2px solid white;
            border-radius: 50%;
          }
        }
        .card-bottom {
          background-color: rgba(0, 0, 0, 0.487);
          backdrop-filter: blur(5x);
          border: 1px solid white;
          border-radius: 7px;
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: space-between;
          p {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1rem;
            &:last-child {
              font-size: 0.8rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  section.view6 {
    padding: 1rem;
    width: 100%;

    .top {
      margin-bottom: 1rem;
      img {
        border-radius: 0.7rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .bottom {
      background-color: #616060;
      border-radius: 0.7rem;
      padding: 4rem 1rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(1rem);
        p {
          text-transform: uppercase;
          &:first-child {
            color: rgb(203, 202, 202);
            font-size: 1.5rem;
          }
          &:nth-child(2) {
            color: #fff;
            font-size: 2.5rem;
          }
        }
      }
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        i {
          margin-right: 0.5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(42, 42, 42, 0.661);
          backdrop-filter: blur(5px);
          padding: 0.3rem;
          border: 2px solid white;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  main {
    max-width: 1700px;
    margin: 0 auto;
    place-items: center;

    section.view1 {
      flex-direction: row;
      padding: 1rem 4rem;
      align-items: stretch;
      .top,
      .bottom {
        width: 50%;
        display: flex;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
        .text {
          gap: 1.5rem;
          h1 {
            font-size: 3.5rem;
          }
          p {
            width: 80%;
            font-size: 1rem;
          }
        }
      }
    }
    section.view2 {
      flex-direction: row;
      padding: 1rem 4rem;
    }

    section.view3 {
      flex-direction: row-reverse;
      align-items: stretch;
      padding: 1rem 4rem;
      .top,
      .bottom {
        width: 50%;
        display: flex;
      }
      .bottom {
        padding: 3rem;

        .paragraphs {
          column-count: 2;
          column-gap: 2rem;
          // text-align: justify;
          gap: 1rem;
        }
      }
    }

    section.view4 {
      padding: 1rem 4rem;
      flex-direction: row;
      align-items: stretch;
      .top,
      .bottom {
        width: 50%;
      }
      .top {
        display: flex;
      }
      .bottom {
        padding: 3rem;
        .text p:last-child {
          column-count: 2;
        }
      }
    }

    section.view5 {
      padding: 1rem 4rem;
      .top {
        padding: 0rem 1.5rem;
      }
      .bottom {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    section.view6 {
      padding: 1rem 4rem;
      display: flex;
      gap:1rem;
      flex-direction: row;
      align-items: stretch;
      .top,
      .bottom {
        width: auto;
        flex:1;
        margin:0
      }
      .top {        
        display: flex;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  section.view5 {
    .bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablet */
      grid-gap: 1rem;
    }
  }
}
