* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: #000000;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  @include flex-column();

  section {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #616060;
      padding: 1.5rem;
      @include flex-column(3rem);
      border-radius: 10px;

      .text {
        @include flex-column(0.7rem);
        h1 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2.5rem;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}